@page "/tags"
@using ExpenseControl.Models
@using ExpenseControl.Services.Interfaces
@inject ITagService TagService

<BaseCrud T="Tag" Title="Moje Tagi" Service="@TagService">

    <HeaderContent>
        <MudTh>Nazwa</MudTh>
        <MudTh>Opis</MudTh>
    </HeaderContent>

    <RowTemplate Context="Tag">
        <MudTd DataLabel="Nazwa">
            <div style="@($"background-color: {Tag.ColorHex}; color: {Tag.ColorHex.GetContrastColor()}; padding: 6px 12px; border-radius: 16px; display: inline-block; font-weight: bold; font-size: 0.85rem;")">
                 @Tag.Name
            </div>
        </MudTd>
        <MudTd DataLabel="Opis">
            <MudText Typo="Typo.body2">
                @(string.IsNullOrEmpty(Tag.Description) ? "—" : Tag.Description)
            </MudText>
        </MudTd>
    </RowTemplate>

    <FormContent Context="Tag">
        <MudItem xs ="12">
        <MudTextField @bind-Value="Tag.Name" Label="Nazwa Tagu" Required="true" AutoFocus="true" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="Tag.Description" Label="Opis (opcjonalnie)"/>
        </MudItem>
        <MudItem xs="5">
            <MudColorPicker Label="Kolor"
                            @bind-Text="Tag.ColorHex"
                            Style="width: 100%;"
                            DisableToolbar="false"
                            DisableAlpha="true"
                            ColorPickerView="ColorPickerView.Palette" />
        </MudItem>
    </FormContent>

</BaseCrud>
